{% extends 'base.html' %}


{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h2 class="card-title">{{ job.job_title }}</h2>
            <p><strong>Company:</strong> {{ job.company.company_name }}</p>
            <p><strong>Location:</strong> {{ job.country }}, {{ job.state }}</p>
            <p><strong>Salary:</strong> ${{ job.job_salary }}</p>
            <p><strong>Job Type:</strong> {{ job.job_type }}</p>
            <hr>
            <p>{{ job.job_description }}</p>
            <div class="mt-4">
                {% if user.is_authenticated %}
                    
                    {% if user_applied %}
                        <button class="btn btn-secondary btn-lg" disabled>Applied</button>
                    {% else %}
                        <a href="{% url 'apply_to_job' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
                    {% endif %}
                {% else %}
                    <p>Please <a href="{% url 'login' %}">log in</a> to apply for this job.</p>
                {% endif %}
            </div>
        </div>
        
            <a href="{% url 'index' %}" class="btn btn-secondary">Back to Home</a>
        
    </div>
    
</div>
{% endblock %}
